.button {
    background-color: #4CAF50;
    color: var(--white);
    border: none;
    border-radius: 5px;
    height: 2rem;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.1s;
}

.button:hover {
    background-color: #45a049;
    /* Darker green */
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5);
}

.button:active {
    opacity: 0.95;
}