.drawers {
  display: grid;
  grid-template-columns: auto;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  gap: var(--size-sm);
  padding: var(--size-sm);
}

.twoColumn {
  grid-template-columns: 20% 80%;
}
.threeColumn {
  grid-template-columns: 20% 30% calc(50% - var(--size-sm));
}

.drawer {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  border-radius: var(--radius-md);
  box-shadow: var(--box-shadow);
  padding: var(--size-sm);
  background: var(--drawer-background);
}
