.notes {
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
  height: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 36.5%;
  gap: var(--size-sm);
}

.shortHeader {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
